/* dm-sans-latin-ext-wght-normal */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url('/fonts/dm-sans-latin-ext-wght-normal-a5d38fe99f93.woff2') format('woff2-variations');
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}

/* dm-sans-latin-wght-normal */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url('/fonts/dm-sans-latin-wght-normal-9fea608a947e.woff2') format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* londrina-outline-latin-400-normal */
@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/londrina-outline-latin-400-normal-6ac2dba6083e.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*!
 * @preserve
 * Dank Mono (v0.491)
 * This font is subject to a EULA. A user-licence can be acquired at:
 *   https://dank.sh
 * © 2018 Phil Plückthun. All Rights Reserved.
 */
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-007F;
  src:
    local('☺'),
    url('/fonts/dank-d8acf7dcd886.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0080-1AFF;
  src:
    local('☺'),
    url('/fonts/dank-560a03a14f21.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1B00-218F;
  src:
    local('☺'),
    url('/fonts/dank-b698b074a709.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+2190-21FF;
  src:
    local('☺'),
    url('/fonts/dank-84b046f4efb0.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+2200-10FFFF;
  src:
    local('☺'),
    url('/fonts/dank-ade7ae513eea.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0000-007F;
  src:
    local('☺'),
    url('/fonts/dank-809c5bc22e06.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0080-1AFF;
  src:
    local('☺'),
    url('/fonts/dank-0071595e1bf5.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  unicode-range: U+1B00-218F;
  src:
    local('☺'),
    url('/fonts/dank-5ead1672d3c8.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  unicode-range: U+2190-21FF;
  src:
    local('☺'),
    url('/fonts/dank-95eca2a04bf3.woff') format('woff');
}
@font-face {
  font-family: 'dank';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  unicode-range: U+2200-10FFFF;
  src:
    local('☺'),
    url('/fonts/dank-00863b9daca3.woff') format('woff');
}
