:is([prose=''], .prose) {
  a {
    text-decoration: none !important;
  }

  :not(h1, h2, h3, h4, h5) > a {
    display: inline-block;
    line-height: 1.5;
    border-bottom: 1px dashed color-mix(in srgb, var(--un-prose-links) 45%, transparent);
    text-decoration: none !important;
    transition: border-bottom 0.3s ease-in-out;
  }

  :not(h1, h2, h3, h4, h5) > a:hover {
    border-bottom: 1px solid var(--un-prose-links);
  }

  code {
    font-family: dank !important;
    font-size: 13px;

    &::after,
    &::before {
      content: '';
    }
  }

  strong {
    color: var(--un-prose-bold);
  }

  :not(pre) > code {
    display: inline-block;
    padding: 0 4px;
    border-radius: 0.4em;
    line-height: 1.5;
    background-color: color-mix(in srgb, var(--un-prose-code) 10%, transparent);
    border: 1px solid color-mix(in srgb, var(--un-prose-code) 18%, transparent);
  }

  blockquote {
    border-left: 0.1em solid var(--un-prose-quote-borders);
  }

  pre {
    border: 1px solid #f0f0f0;
    background-color: #ffffff !important;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
  }
}

.dark :is([prose=''], .prose) {
  pre {
    border-color: #191919;
    background-color: #121212 !important;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
